/* CSS styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.product {
    background-color: #373434;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

h1 {
    color: #f90101;

}

.t1 {
    color: #373434;



}



.t {
    color: black;
    font-size: 50px;




}



.pic_one
{
height:333px;
width:786px;
left:327px;
top:239px;
position:absolute;
}





.myButton {
	background-color:#403b40;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffb700;
	font-family:Trebuchet MS;
	font-size:21px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d4d4d;
}
.myButton:hover {
	background-color:#969696;
}
.myButton:active {
	position:relative;
	top:1px;
}

        
